@media all and (max-width:1127px){
.header-contents{
  display:none;
}
.contents{
  width:100%;
  margin: 0 auto;
}
.third-wrapper p{
  width:70%;
}
.third-wrapper{
  height: 460px;
}
.help-link{
  margin-bottom: 400px;
}
@media all and (max-width:640px){
.search-bar{
  width:100%;
}
.main-wrapper{
  height: 450px;
}
.main-wrapper h1{
  font-size: 30px;
}
.gift{
  line-height: 42px;
}
.main-contents{
  margin-left: 0;
}
.second-wrapper{
  width:100%;
}
.contents{
  display: block;
  width:100%;
  margin: 0 auto;
}
.content{
  width:100%;
  margin: 0;
}
.content p{
  font-size: 14px;
}
.third-wrapper p{
  width:85%;
  font-size: 16px;
}
.btn{
  width:95%;
}
footer{
  padding: 0;
}
.footer-contents{
  display: none;
}
.license{
  width:100%;
  font-size: 10px;
  margin: 0;
}
footer{
  height:0;
}
